extends ./includes/layout
block main
    h3.center BlogTitle
    .row
        article.all-blogs.col.s12.m12
            section.card.col.m6.s12.hoverable
                .card-image
                    img.responsive-img(src=`/static/images/${blog.photo}`)
                .card-content
                    h4.flow-text
                        | Author:
                        span= blog.author
                    p= blog.description
                .card-action
                    a.btn.blue(href='/') Main Page
                    if deleted
                        button.btn.red.delete.right(data-id=`${blog.id}` data-url='/deleted-blogs') Delete
                    else
                        button.btn.red.delete.right(data-id=`${blog.id}` data-url='/all-blogs') Delete